<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hogwarts's students</title>
  </head>
  <body>
    <nav>
      <ul>
        <a href="/students"><input type="button" value="See all"></a>
        <a href="/students/new"><input type="button" value="Add new Student"></a>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
