<form  method="post" action="/students">
  <label for="first-name">First Name</label>
  <input type="text" name="first_name" id="first-name" placeholder="Your first name here"/>

  <label for="last-name">Last Name</label>
  <input type="text" name="last_name" id="last-name" placeholder="Your last name here"/>

  <label for="age">Age</label>
  <input type="number" name="age" id="age" min="13" max="50"/>

  <label for="house">House</label>
  <select name="house" id="house">
    <option value="Gryffindor">Gryffindor</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Ravenclaw">Ravenclaw</option>
    <option value="Slytherin">Slytherin</option>
  </select>

  <input type="submit" value="Create"/>

</form>
